@model List<HaveARoom_CoreProject.Models.City>

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-3 mb-4">
            <div class="card  border">
                <img src="@item.Image" class="card-img-top img-fluid" alt="Card Image">
                <div class="card-body">
                    <h3 class="card-title fw-bold">@item.Name</h3>
                    <p class="card-title">(@item.Country)</p>
                    <a class="btn btn-primary" asp-action="CityHotels" asp-route-id=" @item.Id">View Hotels</a>
                </div>
            </div>
        </div>
    }
</div>

