@model List<HaveARoom_CoreProject.Models.Room>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-3 mb-4">
            <div class="card">
                <img src="@item.Image" class="card-img-top img-fluid" alt="Card Image">
                <div class="card-body">
                    @if (item.LuxuryLevel == 1)
                    {
                        <h3>
                            Standart Hotel Room
                        </h3>
                        <p>
                            ($)
                        </p>
                    }
                    @if (item.LuxuryLevel == 2)
                    {
                        <h3>
                            Basic Hotel Room 
                        </h3>
                        <p>
                            ($$)
                        </p>
                    }
                    @if (item.LuxuryLevel == 3)
                    {
                        <h3>
                            Luxury Hotel Room
                        </h3>
                        <p>
                            ($$$)
                        </p>  
                    }
                    @{
                        if (SignInManager.IsSignedIn(User))
                        {
                            <a class="btn btn-success" asp-action="CreateReservation" asp-route-id="@item.Id">Book Now!</a>
                        }
                        else
                        {
                            <a class="btn btn-warning" disabled>You have to Login!</a>
                        }
                    }
                </div>
            </div>
        </div>
    }
</div>

